In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")

In [3]:
url="https://www.naukri.com/"

In [4]:
driver.get(url)

In [5]:
#entering the data which is required by client
designation=driver.find_element_by_id("qsb-keyword-sugg")
location=driver.find_element_by_id("qsb-location-sugg")

In [6]:
designation.send_keys("Data analyst")
location.send_keys("Bangalore")

In [7]:
#Now based on the required detailes we require selenium to search the page
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button[1]")
search_button.click()

In [8]:
#list of required field
job_title=[]
location=[]
job_ex=[]
comp_name=[]

In [9]:
title_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")

In [10]:
for i in title_tags:
    if i.text is None:
        job_title.append("-")
    else:
        job_title.append(i.text)

In [ ]:
job_title

In [12]:
len(job_title)

0

In [13]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [ ]:
loc_tags[0]

In [ ]:
for i in loc_tags:
    if i.text is None:
        location.append("-")
    else:
        location.append(i.text)

In [ ]:
location[0]

In [ ]:
len(location)

In [ ]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [ ]:
exp_tags[0].text

In [ ]:
for i in exp_tags:
    if i.text is None:
        job_ex.append("-")
    else:
        job_ex.append(i.text)

In [ ]:
job_ex[0]

In [ ]:
len(job_ex)

In [ ]:
name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [ ]:
name_tags[0].text

In [ ]:
for i in name_tags:
    if i.text is None:
        comp_name.append("-")
    else:
        comp_name.append(i.text)

In [ ]:
comp_name

In [ ]:
df=pd.DataFrame({
    "comp_name":comp_name,
    "job_eperience":job_ex,
    "job_title":job_title,
    "job_location":location
})

In [ ]:
df

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note- 1. All of the above steps have to be done in code. No step is to be done manually. WEB SCR

In [ ]:
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")

url="https://www.naukri.com/"

driver.get(url)

#entering the data which is required by client
designation=driver.find_element_by_id("qsb-keyword-sugg")
location=driver.find_element_by_id("qsb-location-sugg")


designation.send_keys("Data analyst")
location.send_keys("Bangalore")

#Now based on the required detailes we require selenium to search the page
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button[1]")
search_button.click()

#list of required field
job_title=[]
location=[]
full_job_description=[]
comp_name=[]

title_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")

for i in title_tags:
    if i.text is None:
        job_title.append("-")
    else:
        job_title.append(i.text)

job_title

len(job_title)

loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

loc_tags[0]



for i in loc_tags:
    if i.text is None:
        location.append("-")
    else:
        location.append(i.text)

location[0]

len(location)

exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

exp_tags[0].text

for i in exp_tags:
    if i.text is None:
        job_ex.append("-")
    else:
        job_ex.append(i.text)

job_ex[0]

len(job_ex)

name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

name_tags[0].text

for i in name_tags:
    if i.text is None:
        comp_name.append("-")
    else:
        comp_name.append(i.text)
        
        
# scraping the full job-description, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        job_description.append(description[0])
    except NoSuchElementException :
        job_description.append("---")

comp_name

df=pd.DataFrame({
    "comp_name":comp_name,
    "job_description":job_description,
    "job_title":job_title,
    "job_location":location
})

In [200]:
driver.get("https://www.naukri.com/")

In [201]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")

search_field_designation.send_keys("Data Scientist")

In [202]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [203]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [205]:
# finding the location check box
loc=driver.find_element_by_xpath("//span[@title='Delhi/NCR']")

# clicking the check box
loc.click()

In [207]:
# finding the salary check box
loc=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")

# clicking the check box
loc.click()

In [208]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:2]

['Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC',
 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC']

In [209]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Delhi NCR, Ghaziabad, Gurgaon', 'Faridabad, Delhi NCR, Greater Noida']

In [210]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

 #scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
experience_required[0:2]

['0-0 Yrs', '0-0 Yrs']

In [211]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df.head()

,experience_required,company_name,job_location,job_title
0,0-0 Yrs,GABA Consultancy services,"Delhi NCR, Ghaziabad, Gurgaon",Only Fresher / Data Scientist / Data Analyst /...
1,0-0 Yrs,GABA Consultancy services,"Faridabad, Delhi NCR, Greater Noida",Only Fresher / Data Scientist / Data Analyst /...
2,4-8 Yrs,WellMed Medical Management,Noida,Associate Data Scientist
3,1-5 Yrs,AlgoScale Technologies Private Limited,Noida,Data Scientist
4,3-6 Yrs,(3 Reviews),Delhi,Data Scientist/Analyst - Machine Learning/Deep...

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
WEB SCRAPING ASSIGNMENT-2
.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually

In [225]:
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")

In [226]:
driver.get("https://www.glassdoor.com/")

Enter your login credentials in the chrome window opened by webdriver. Do this step manually

In [227]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.keyword']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.location']"))).send_keys("Noida")


#search_field_designation=driver.find_element_by_xpath("//input[@id='sc.keyword']")
#search_field_designation.send_keys("Data Scientist")
#search_field_location=driver.find_element_by_xpath("//input[@id='sc.location']")
#search_field_location.send_keys("Noida")

In [229]:
# clicking the search button
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [248]:
# creating empty lists for scraping data

company_ratings=[]
company_name=[]
days_ago=[]

In [249]:
# finding the element where company name is present
companies=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']/span")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

['xtLytics', 'xtLytics']

In [250]:
# finding the element where ratings of the company  is present
ratings=driver.find_elements_by_xpath("//span[@class='compactStars ']")
for i in ratings:
    if i.text is None :
        company_ratings.append("--") 
    else:
        company_ratings.append(i.text)
company_ratings[0:2]

['3', '3']

In [253]:
# finding the element where  No. of days ago when job was posted is present
days=driver.find_elements_by_xpath("//div[@data-test='job-age']")
for i in days:
    if i.text is None :
        days_ago.append("--") 
    else:
        days_ago.append(i.text[0])
days_ago[0:2]

['2', '2']

In [254]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"company_name":company_name[0:10],"company_ratings":company_ratings[0:10],"days_ago":days_ago[0:10]
                })
df.head()

                  company_name company_ratings days_ago
0                     xtLytics               3        2
1                     xtLytics               3        2
2  RiseIn Technologies Pvt Ltd             3.1        3
3    Unyscape Infocom Pvt. Ltd             3.9        1
4                     Ericsson               4        2

Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually

In [255]:
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")

In [256]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [259]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='KeywordSearch']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='LocationSearch']"))).send_keys("Noida")

In [260]:
# clicking the search button
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [265]:
min_salaries=[]
max_salaries=[]
average_salaries=[]
company_name=[]

In [263]:
# finding the element where min salary   is present
min_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
for i in min_salary:
    if i.text is None :
        min_salaries.append("--") 
    else:
        
        min_salaries.append(i.text)
min_salaries[0:2]

['₹706K', '₹572K']

In [264]:
# finding the element where max salary   is present
max_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in max_salary:
    if i.text is None :
        max_salaries.append("--") 
    else:
        max_salaries.append(i.text)
max_salaries[0:2]

['₹11,513K', '₹1,300K']

In [266]:
# finding the element where average salary   is present
average_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in average_salary:
    if i.text is None :
        average_salaries.append("--") 
    else:
        average_salaries.append(i.text)
average_salaries[0:2]

['₹11,513K', '₹1,300K']

In [269]:
# finding the element where company_name   is present
company=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
for i in company:
    if i.text is None :
        company_name.append("--")      
    else:
        company_name.append(i.text)
company_name[0:2]

['Delhivery', 'Accenture']

In [ ]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"company_name":company_name[0:10],"":company_ratings[0:10],"days_ago":days_ago[0:10]
                })
df.head()

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount 
To scrape 
the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it

In [ ]:
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")

In [43]:
#creating the empty list
brand=[]
description=[]
price=[]
discount=[]

In [34]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\User 14\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://www.flipkart.com/')

In [35]:
#locating the search bar
search_bar=driver.find_element_by_class_name('LM6RPg')
search_bar.clear()
search_bar.send_keys('sunglasses')

In [36]:
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('vh79eN')
button.click()

In [44]:
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    brands=driver.find_elements_by_class_name('_2B_pmu')#scraping brands name by class name='_2B_pmu'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_class_name('_2mylT6')#scraping description by class name = '_2mylT6'
    for i in desc:
        description.append(i.get_attribute('title'))#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_1vC4OE']")# scraping the price from the xpath
    for i in prices[:40]:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='VGWI6T']")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_2Xp0TH']")#scraping the list of buttons from the page
    driver.get(nxt_button[page].get_attribute('href'))#getting the link from the list for next page

In [48]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
print(df)

               Brand                                        Description  \
0             Levi's                     Others Aviator Sunglasses (58)
1             Fossil  Mirrored, UV Protection Rectangular Sunglasses...
2           Fastrack      UV Protection Wayfarer Sunglasses (Free Size)
3             Collet  Gradient, Mirrored, UV Protection Aviator Sung...
4          Elligator                UV Protection Round Sunglasses (54)
..               ...                                                ...
95              INSH  UV Protection, Night Vision, Riding Glasses Re...
96          Fastrack      UV Protection Wayfarer Sunglasses (Free Size)
97  shah collections         UV Protection Round Sunglasses (Free Size)
98    kingsunglasses  Mirrored, UV Protection Wayfarer, Wayfarer, Wa...
99            Fossil                 Others Rectangular Sunglasses (54)

     Price Discount
0   ₹5,180  30% off
1   ₹2,420  45% off
2     ₹674  25% off
3     ₹199  86% off
4     ₹312  87% off
..     ...      ...
95    ₹327  86% off
96    ₹719  20% off
97    ₹331  80% off
98    ₹269  82% off
99  ₹2,200  50% off

[100 rows x 4 columns]

Q8:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code only and not manually.

In [72]:
#creating the empty list
brand=[]
description=[]
price=[]
discount=[]

In [74]:
#intialising driver
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")
driver.get('https://www.flipkart.com/')

In [79]:
#locating the search bar
search_bar=driver.find_element_by_class_name('LM6RPg')
search_bar.clear()
search_bar.send_keys('sneakers')
button=driver.find_element_by_class_name('vh79eN')
button.click()

In [80]:
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    brands=driver.find_elements_by_class_name('_2B_pmu')#scraping brands name by class name='_2B_pmu'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_class_name('_2mylT6')#scraping description by class name = '_2mylT6'
    for i in desc:
        description.append(i.get_attribute('title'))#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_1vC4OE']")# scraping the price from the xpath
    for i in prices[:40]:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='VGWI6T']")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_2Xp0TH']")#scraping the list of buttons from the page
    driver.get(nxt_button[page].get_attribute('href'))#getting the link from the list for next page

In [81]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
print(df)

       Brand                                        Description   Price  \
0      WROGN                                   Sneakers For Men  ₹1,424
1      WROGN                                   Sneakers For Men  ₹1,349
2     Chevit  Combo Pack of 4 Casual Sneakers With Sneakers ...    ₹461
3     Chevit  171 Smart Tan Lace-Ups Casuals for Men Sneaker...    ₹236
4     Chevit  Chevit Latest Fashion Combo Pack of 2 Pairs Ca...    ₹525
..       ...                                                ...     ...
95    Rontex                                   Sneakers For Men    ₹426
96  Claptrap  Mesh Walking Casual Sneakers Shoes for Men And...    ₹449
97  PERY-PAO                White Casual Shoes Sneakers For Men    ₹425
98   Shoefly  Combo Men Pack of 2 Loafers Shoes Sneakers For...    ₹331
99  Red Tape                                   Sneakers For Men  ₹1,023

   Discount
0   50% off
1   50% off
2   76% off
3   52% off
4   64% off
..      ...
95  57% off
96  10% off
97  57% off
98  66% off
99  75% off

[100 rows x 4 columns]

Q10:  Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [ ]:
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")

In [38]:
#creating the empty list
Title=[]
Ratings=[]
price=[]

In [39]:
#intialising driver
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")
driver.get(' https://www.amazon.in')

In [40]:
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()

In [41]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [42]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [43]:
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [44]:
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

In [45]:
#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException   as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there

In [46]:
#checking the length of each list
print(len(Title))
print(len(price))
print(len(Ratings))

10
10
10

In [47]:
#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
print(df)

                                               Title   Price       Ratings
0  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...  81,990  4.1 out of 5
1  Dell Inspiron 5370 13.3-inch FHD Laptop (Core ...  68,490  4.1 out of 5
2  (Renewed) Dell Inspiron 3567 Laptop Core i3-7t...  37,900     NO rating
3  (Renewed) Dell Latitude E5570 15-inch Laptop (...  61,999     NO rating
4  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...  82,789  3.8 out of 5
5  (Renewed) Dell Latitude E7240 12.5-inch Laptop...  39,999  3.6 out of 5
6  Lenovo Legion 5i 10th Gen Intel i7 15.6" FHD G...  81,489  4.1 out of 5
7  (Renewed) HP EliteBook 1030 G2 X 360 Notebook ...  49,990  2.2 out of 5
8  Dell 2019 Dell Inspiron 14 5482 14 Inch FHD 2-...  57,490    4 out of 5
9  (Renewed) HP EliteBook X360 1030 G2 Laptop (Co...  49,990  2.6 out of 5

Q9."https://www.myntra.com/shoes". Set price filter "Rs 6649 to Rs 13099" and color filter to "Black" and then scrap 100 shoes data. The data should include "Brand" of shoes, shoe short-description and price. Please not: Everything should done through code even the filtering for sneakers as well.

In [13]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [14]:
driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")
driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0%2C6337.0_10225.0_6337.0%20TO%2010225.0')

In [15]:
start_page=0
end_page=0
for page in range(start_page,end_page+1): 
    nxt_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    
    #creating empty lists
    shoe_names=[]
    s_desc=[]
    short_desc=[]
    price=[]
    
    #for scrapping shoe brand names
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in Names:
        shoe_names.append(i.text)
    
    #for scrapping shoe short-description
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    #for scrapping shoe prices
    desc=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in desc:
        price.append(i.text)
    
    #for scrapping the datas from next pages.
    if nxt_button.text=='next':
            nxt_button.click()
            time.sleep(5)
            
    #creating a dataframe to store above scraped details
    df=pd.DataFrame({'Brand': shoe_names,
                    'Short-description': short_desc,
                    'Price': price})
    print(df)

               Brand                         Short-description  \
0             Reebok            Harmony 3.5 Road Running Shoes
1               Puma            Trailfox Overland MTS Grid Run
2             ADIDAS                 Men Questar Flow Sneakers
3               Geox               Women Solid Leather Loafers
4               Nike                    Men Zoom Running Shoes
5             ADIDAS               Men FluidFlow Running Shoes
6               Nike              Men AIR MAX Basketball Shoes
7     ROSSO BRUNELLO  Men Solid Italian Leather Formal Loafers
8               ALDO              Women Leather Open Toe Flats
9             Reebok                 Men Nano X Training Shoes
10              Nike                    Men Zoom Running Shoes
11              Geox                 Men Leather Formal Derbys
12              Geox                    Women Leather Slip-Ons
13            ADIDAS               Men Galaxar Run Sustainable
14      Kenneth Cole           Men Solid Leather Formal Derbys
15              Puma                         Men Running Shoes
16              Geox                       Men Leather Loafers
17              ALDO          Men Solid Leather Formal Oxfords
18            ADIDAS               Men Dame 6 Basketball Shoes
19              Geox               Men Leather Formal Slip-Ons
20              Geox                 Men Leather Driving Shoes
21              Nike                  Women ZOOM Running Shoes
22            ADIDAS            Men Edge Gameday Running Shoes
23          Skechers             Men Go Run Ride Running Shoes
24      Hush Puppies         Men Solid Leather Formal Slip-Ons
25              Geox                 Men Leather Driving Shoes
26            DIESEL                     Men DANNY LC Sneakers
27            ADIDAS                 Men Energy Falcon Running
28              Puma             Men SPEED 500 2 Running Shoes
29              Geox               Men Leather Formal Slip-Ons
30              ALDO                         Men Solid Loafers
31            Clarks                Men Leather Formal Brogues
32              Geox                Men Solid Leather Sneakers
33              Geox                  Women Leather Boat Shoes
34  ADIDAS Originals                    Men SEELEY Skate Shoes
35              Geox                 Men Leather Formal Derbys
36              ALDO              Men Textured Leather Loafers
37      UNDER ARMOUR             Charged Aurora Training Shoes
38         Cole Haan               Men Wingtip Oxford Sneakers
39              Xtep                         Men Running Shoes
40              Geox                  Women Sequinned Sneakers
41              Geox                Men Woven Slip-On Sneakers
42      UNDER ARMOUR            Charged Bandit 5 Running Shoes
43            DIESEL                      Men Mid-Top Sneakers
44         Cole Haan                          Leather Sneakers
45              Geox                Men Leather Formal Loafers
46         Cole Haan       Men Traveller Leather Penny Loafers
47              Xtep                         Men Running Shoes
48            Reebok                   Men HIIT Training Shoes
49              ALDO                       Men Leather Loafers

                              Price
0                         Rs. 11999
1    Rs. 6999Rs. 9999(Rs. 3000 OFF)
2                          Rs. 6999
3                          Rs. 7999
4                          Rs. 7995
5                          Rs. 7999
6                          Rs. 7995
7        Rs. 7699Rs. 10999(30% OFF)
8                          Rs. 6999
9                          Rs. 9999
10                         Rs. 7995
11                        Rs. 12990
12                         Rs. 8990
13   Rs. 6399Rs. 7999(Rs. 1600 OFF)
14        Rs. 6643Rs. 9490(30% OFF)
15                         Rs. 6999
16                        Rs. 10990
17  Rs. 6999Rs. 13999(Rs. 7000 OFF)
18  Rs. 8199Rs. 10999(Rs. 2800 OFF)
19                         Rs. 9490
20                         Rs. 7999
21                         Rs. 7995
22   Rs. 6399Rs. 7999(Rs. 1600 OFF)
23   Rs. 7899Rs. 8999(Rs. 1100 OFF)
24        Rs. 7649Rs. 8999(15% OFF)
25                         Rs. 9499
26       Rs. 9093Rs. 13990(35% OFF)
27                         Rs. 6999
28   Rs. 6999Rs. 9999(Rs. 3000 OFF)
29                        Rs. 12990
30                        Rs. 11999
31                         Rs. 7999
32                        Rs. 10999
33                         Rs. 8990
34                         Rs. 6999
35                        Rs. 12990
36                        Rs. 12999
37                         Rs. 6999
38                        Rs. 12999
39       Rs. 9899Rs. 10999(10% OFF)
40       Rs. 6599Rs. 10999(40% OFF)
41                        Rs. 10990
42                         Rs. 7999
43     Rs. 7800Rs. 13000( 40 % OFF)
44                        Rs. 10999
45                         Rs. 8499
46       Rs. 8999Rs. 19999(55% OFF)
47        Rs. 6569Rs. 7299(10% OFF)
48   Rs. 7199Rs. 8999(Rs. 1800 OFF)
49                        Rs. 12999

In [ ]:
#Q7 flipkart iphone

In [16]:
#Answer starts from here

driver=webdriver.Firefox(executable_path=r"C:\Users\Admin\AppData\Local\Temp\geckodriver.exe")
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [17]:
# Creating empty list
urls=[]
short_desc=[]
desc=[]
stars=[]

#Taking 10 pages into consideration using for loop
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='_2Xp0TH']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _390CkK _1gY8H-']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2xg6Ul']"):
        short_desc.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='qwjRop']/div/div"):
        desc.append(l.text)
#printing the length of lists
print(len(stars))
print(len(short_desc))
print(len(desc))

100
100
100

In [18]:
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Stars': stars,
                'sr Description': short_desc,
               'Descr': desc})
print(df)

   Number of Stars      Short Description  \
0                5      Terrific purchase
1                5              Wonderful
2                5          Great product
3                5  Mind-blowing purchase
4                5      Terrific purchase
..             ...                    ...
95               5      Worth every penny
96               5      Worth every penny
97               5       Perfect product!
98               4           Nice product
99               5              Wonderful

                                          Description
0   Upgraded from iphone 6 to 11 best phone for ip...
1   This is my first ever I phone. Before this I w...
2   Well you all know the specifications . One of ...
3   This will help you more. See if you are planni...
4   The built quality is not very premium.\nThe ba...
..                                                ...
95  Best budget Iphone till date ❤️ go for it guys...
96  It’s been almost a month since I have been usi...
97  Iphone is just awesome.. battery backup is ver...
98  Awesome Phone. Slightly high price but worth. ...
99  *Review after 10 months of usage*\nDoesn't see...

[100 rows x 3 columns]